Repository alistairstead/dotfiles2: changes, and which lefthook commands are due for each by the changed paths.
All: shellcheck, shellcheck-scripts

lefthook.yml:

# Lefthook configuration for git hooks
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    shellcheck:
      tags: shell lint
      glob: "*.{sh,bash}"
      run: shellcheck {staged_files}
    
    shellcheck-bin:
      tags: shell lint
      files: git diff --name-only --cached
      run: |
        # Check files in bin directories for shell scripts
        for file in {staged_files}; do
          if [[ "$file" =~ ^bin/ ]] && head -1 "$file" | grep -qE '^#!.*(bash|sh)'; then
            shellcheck "$file"
          fi
        done

    shellcheck-scripts:
      tags: shell lint
      glob: "scripts/*.sh"
      run: shellcheck {staged_files}

# Skip hooks in CI/CD environments
skip_output:
  - meta
  - summary

fix: update GitHub Actions workflow for macOS latest only
  .github/workflows/test.yml
Due: none

fix: resolve mise config duplicate settings and CI stow conflicts
  install.sh
  mise/.config/mise/config.toml
Due: shellcheck

fix: improve CI validation script reliability
  .github/test/validate.sh
  nvim/.config/nvim/lazy-lock.json
Due: shellcheck

fix: resolve ShellCheck warnings in GitHub Actions
  .github/workflows/test.yml
  bash/.bash_profile
  bash/.bashrc
Due: none

fix: use brew packages for config validation in CI
  .github/workflows/test.yml
Due: none

fix: correct shellcheck ignore syntax in GitHub Actions
  .github/workflows/test.yml
Due: none

docs: update README formatting and badge URL
  README.md
Due: none

feat(dotfiles): add carapace completion tool and improve configs
  .gitignore
  Brewfile
  atuin/.config/atuin/config.toml
  bash/.bashrc
  git/.config/git/ignore
  granted/.config/granted/config
  nvim/.config/nvim/lazy-lock.json
  nvim/.config/nvim/lazyvim.json
  nvim/.config/nvim/lua/plugins/extras/coding.lua
  nvim/.config/nvim/spell/en.utf-8.add
  nvim/.config/nvim/spell/en.utf-8.add.spl
  zsh/.zshrc
Due: none

Sync
  bash/.bashrc
  claude/.claude/README.md
  claude/.claude/commands/README.md
  claude/.claude/settings.json
  scripts/claude-notification-hook.sh
  scripts/claude-stop-hook.sh
  scripts/test-claude-notification.sh
  scripts/test-claude-stop-hook.sh
  scripts/tmux-url-handler.sh
  shell/.config/shell/aliases.sh
  shell/.config/shell/env.sh
  shell/.config/shell/functions.sh
  shell/.config/shell/path.sh
  zsh/.zshrc
Due: shellcheck, shellcheck-scripts

chore(shell): remove atuin config and zsh integration
  atuin/.config/atuin/config.toml
  shell/.config/shell/aliases.sh
  zsh/.zshrc
Due: shellcheck

chore(brew): remove atuin, add zed to Brewfile
  Brewfile
Due: none

sync
  claude/.claude/commands/code-review.md
  claude/.claude/commands/config-helper.md
  claude/.claude/commands/execute-prp.md
  claude/.claude/commands/feature-current.md
  claude/.claude/commands/feature-end.md
  claude/.claude/commands/feature-list.md
  claude/.claude/commands/feature-update.md
  claude/.claude/commands/generate-prp.md
  claude/.claude/commands/new-component.md
  claude/.claude/settings.json
  git/.config/git/ignore
  nvim/.config/nvim/lazy-lock.json
  scripts/claude-notification-hook.ts
  zed/.config/zed/debug.json
  zed/.config/zed/keymap.json
  zed/.config/zed/settings.json
Due: none

Add Claude command docs for PRD, task, and process automation
  claude/.claude/commands/compact-tasks.md
  claude/.claude/commands/generate-prd.md
  claude/.claude/commands/generate-tasks.md
  claude/.claude/commands/init-base-prd.md
  claude/.claude/commands/process-tasks.md
Due: none

Update keymap for project panel and refine Zed settings
  zed/.config/zed/keymap.json
  zed/.config/zed/settings.json
Due: none

Add wt function to automate Git worktree creation
  shell/.config/shell/functions.sh
Due: shellcheck

Enable always_allow_tool_actions for agent
  zed/.config/zed/settings.json
Due: none

Expand and update debug configurations for Zed
  zed/.config/zed/debug.json
Due: none

Add Claude Code workflow hooks for Bun, linting, logging, and notifications
  claude/.claude/hooks/README.md
  claude/.claude/hooks/log-tool-use.ts
  claude/.claude/hooks/notification.ts
  claude/.claude/hooks/ts-lint.ts
  claude/.claude/hooks/use-bun.ts
  claude/.claude/settings.json
  scripts/claude-notification-hook.sh
  scripts/claude-notification-hook.ts
  scripts/claude-stop-hook.sh
  scripts/test-claude-notification.sh
  scripts/test-claude-stop-hook.sh
Due: shellcheck, shellcheck-scripts

Update tools, fonts, and keymaps; improve Zed config and ignore files
  Brewfile
  git/.config/git/ignore
  nvim/.config/nvim/lazy-lock.json
  zed/.config/zed/keymap.json
  zed/.config/zed/settings.json
Due: none

Add CLAUDE.md and remove TypeScript lint hook
  CLAUDE.md
  claude/.claude/hooks/ts-lint.ts
  claude/.claude/settings.json
Due: none

Add Hyper key layer and update tmux/ghostty keybinds
  ghostty/.config/ghostty/config
  karabiner/src/index.ts
  karabiner/src/layers/hyper.ts
  tmux/.config/tmux/tmux.conf
  zed/.config/zed/settings.json
Due: none

Rewrite CLAUDE.md for Stow-based macOS dotfiles repo
  CLAUDE.md
Due: none

Add scripts for searching and creating Obsidian notes
  bin/.local/bin/obsidian
  bin/.local/bin/obsidian-note
  zed/.config/zed/tasks.json
Due: none

Add Rust environment sourcing to shell profiles
  bash/.bash_profile
  bash/.bashrc
  bash/.profile
  claude/.claude/agents/code-reviewer.md
  claude/.claude/agents/debugger.md
  claude/.claude/agents/refactoring-expert.md
  claude/.claude/agents/work-completion-summary.md
  claude/.claude/commands/code/review.md
  claude/.claude/commands/config-helper.md
  claude/.claude/commands/docs/generate.md
  claude/.claude/commands/execute-prp.md
  claude/.claude/commands/feature/feature-task-generator.md
  claude/.claude/commands/feature/feature-task-processor.md
  claude/.claude/commands/feature/plan.md
  claude/.claude/commands/generate-prp.md
  claude/.claude/commands/new-component.md
  claude/.claude/commands/prd/generate.md
  claude/.claude/commands/prd/init.md
  claude/.claude/commands/prd/research.md
  claude/.claude/commands/shell-expert.md
  claude/.claude/commands/task/compact.md
  claude/.claude/commands/task/generate.md
  claude/.claude/commands/task/process.md
  claude/.claude/hooks/log-tool-use.ts
  claude/.claude/hooks/notification.ts
  claude/.claude/hooks/use-bun.ts
  claude/.claude/settings.json
  git/.config/git/config
  nvim/.config/nvim/lazy-lock.json
  zed/.config/zed/settings.json
  zsh/.zshenv
Due: none

Refactor PRD and task commands for agentic workflows
  claude/.claude/commands/prd/generate.md
  claude/.claude/commands/prd/init.md
  claude/.claude/commands/prd/research.md
  claude/.claude/commands/task/agents.md
  claude/.claude/commands/task/compact.md
  claude/.claude/commands/task/generate.md
  claude/.claude/commands/task/orchestrate.md
  claude/.claude/commands/task/process.md
  claude/.claude/settings.json
  claude/.claude/templates/agentic-task-template.md
  claude/.claude/templates/base-prd.md
  claude/.claude/templates/feature-prd-template.md
  claude/.claude/templates/learning-extraction-template.md
Due: none

Revise PRD generation steps and template for clarity and scope
  claude/.claude/commands/prd/generate.md
  claude/.claude/templates/feature-prd-template.md
Due: none

Update dotfiles and editor/tool configurations
  bash/.bash_profile
  bash/.bashrc
  bash/.profile
  claude/.claude/settings.json
  git/.config/git/config
  jj/.config/jj/config.toml
  starship/.config/starship.toml
  zed/.config/zed/keymap.json
  zed/.config/zed/settings.json
  zed/.config/zed/tasks.json
  zsh/.zshrc
Due: none

Update yabairc STICKY and CODE entries
  yabai/.config/yabai/yabairc
Due: none

sync
  claude/.claude/agents/code-reviewer.md
  claude/.claude/agents/debugger.md
  claude/.claude/agents/refactoring-expert.md
  claude/.claude/agents/work-completion-summary.md
  claude/.claude/commands/feature/plan.md
  claude/.claude/commands/plan.md
  claude/.claude/commands/spec.md
  claude/.claude/commands/tasks.md
  claude/.claude/hooks/post-use-tool.ts
  claude/.claude/hooks/pre-use-tool.ts
  claude/.claude/settings.json
  claude/.claude/templates/feature-spec-template.md
  claude/.claude/templates/task-template.md
  ghostty/.config/ghostty/config
  git/.config/git/hooks/pre-commit
  git/.config/git/hooks/prepare-commit-msg
  nvim/.config/nvim/lazy-lock.json
  shell/.config/shell/env.sh
  shell/.config/shell/functions.sh
  zed/.config/zed/settings.json
Due: shellcheck

fix: resove gh dash config
  claude/.claude/settings.json
  gh/.config/gh-dash/config.yaml
  gh/.config/gh-dash/config.yml
  zed/.config/zed/settings.json
Due: none

add screensaver
  Brewfile
  claude/.claude/commands/docs/generate.md
  claude/.claude/commands/feature/feature-task-generator.md
  claude/.claude/commands/feature/feature-task-processor.md
  claude/.claude/commands/plan.md
  claude/.claude/commands/prd/init.md
  claude/.claude/commands/prd/research.md
  claude/.claude/commands/task/agents.md
  claude/.claude/commands/task/compact.md
  claude/.claude/commands/task/orchestrate.md
  claude/.claude/settings.json
  nvim/.config/nvim/lazy-lock.json
  shell/.config/shell/functions.sh
Due: shellcheck

sync
  claude/.claude/CLAUDE.md
  claude/.claude/commands/code/review.md
  claude/.claude/hooks/post-format.ts
  claude/.claude/settings.json
  claude/.claude/skills/generate-jj-commit-message/SKILL.md
  claude/.claude/skills/gh-pr-comments/SKILL.md
  claude/.claude/skills/gh-pr-comments/bun.lock
  claude/.claude/skills/gh-pr-comments/package.json
  claude/.claude/skills/gh-pr-comments/scripts/list-comments.ts
  claude/.claude/skills/gh-pr-comments/scripts/resolve-comment.ts
  claude/.claude/statusline-command.sh
  jj/.config/jj/config.toml
  shell/.config/shell/aliases.sh
  shell/.config/shell/functions.sh
  yabai/.config/yabai/yabairc
  zed/.config/zed/keymap.json
  zed/.config/zed/settings.json
  zed/.config/zed/tasks.json
Due: shellcheck

sync
  claude/.claude/settings.json
Due: none

sync ralph
  RalphWigghum.md
  claude/.claude/hooks/log-tool-use.ts
  claude/.claude/hooks/post-format.ts
  claude/.claude/hooks/post-use-tool.ts
  claude/.claude/hooks/use-bun.ts
  claude/.claude/skills/ralph/SKILL.md
  claude/.claude/skills/ralph/bin/ralph.ts
  claude/.claude/skills/ralph/bun.lock
  claude/.claude/skills/ralph/package.json
  git/.config/git/hooks/pre-push
  git/.config/git/ignore
  npm/.npmrc
  nvim/.config/nvim/lazy-lock.json
  zed/.config/zed/settings.json
  zed/.config/zed/tasks.json
Due: none

sync
  Brewfile
  RalphWigghum.md
  claude/.claude/CLAUDE.md
  claude/.claude/commands/plan.md
  claude/.claude/commands/spec.md
  claude/.claude/commands/tasks.md
  claude/.claude/hooks/pre-use-tool.ts
  claude/.claude/settings.json
  claude/.claude/skills/generate-jj-commit-message/SKILL.md
  claude/.claude/skills/gh-pr-comments/SKILL.md
  claude/.claude/skills/local-code-review/SKILL.md
  claude/.claude/skills/ralph/SKILL.md
  claude/.claude/skills/ralph/bin/ralph.ts
  claude/.claude/skills/ralph/bun.lock
  claude/.claude/skills/ralph/package.json
  jj/.config/jj/config.toml
  mise/.config/mise/config.toml
  nvim/.config/nvim/lazy-lock.json
  shell/.config/shell/functions.sh
  zed/.config/zed/settings.json
  zed/.config/zed/tasks.json
  zsh/.zshrc
Due: shellcheck

remove unused config
  aerospace/.config/aerospace/aerospace.toml
  lefthook.yml
Due: none

add yabai scripts
  Brewfile
  git/.config/git/ignore
  karabiner/bun.lock
  karabiner/package.json
  karabiner/pnpm-lock.yaml
  karabiner/src/layers/yabai.ts
  shell/.config/shell/functions.sh
  yabai/.config/yabai/scripts/padding.sh
  yabai/.config/yabai/scripts/ratio.sh
  yabai/.config/yabai/yabairc
Due: shellcheck

update zod v4 error param in resolve-comment
  .gitignore
  claude/.claude/CLAUDE.md
  claude/.claude/skills/gh-pr-comments/SKILL.md
  claude/.claude/skills/pr-comments/SKILL.md
  claude/.claude/skills/pr-comments/TESTS.md
  claude/.claude/skills/pr-comments/bun.lock
  claude/.claude/skills/pr-comments/package.json
  claude/.claude/skills/pr-comments/scripts/list-comments.ts
  claude/.claude/skills/pr-comments/scripts/resolve-comment.ts
  yabai/.config/yabai/yabairc
Due: none

add typescript devDep to pr-comments, rename jj-commit skill
  claude/.claude/skills/jj-commit/SKILL.md
  claude/.claude/skills/pr-comments/bun.lock
  claude/.claude/skills/pr-comments/package.json
  claude/.claude/skills/pr-comments/scripts/list-comments.ts
  claude/.claude/skills/pr-comments/scripts/resolve-comment.ts
Due: none

docs(jj-commit): rewrite skill with conventional commits and jj workflow
  claude/.claude/skills/jj-commit/SKILL.md
  claude/.claude/skills/pr-comments/TESTS.md
Due: none
