Repository alistairstead/dotfiles2: changes, and which lefthook commands are due for each by the changed paths.
All: shellcheck, shellcheck-scripts

lefthook.yml:

# Lefthook configuration for git hooks
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    shellcheck:
      tags: shell lint
      glob: "*.{sh,bash}"
      run: shellcheck {staged_files}
    
    shellcheck-bin:
      tags: shell lint
      files: git diff --name-only --cached
      run: |
        # Check files in bin directories for shell scripts
        for file in {staged_files}; do
          if [[ "$file" =~ ^bin/ ]] && head -1 "$file" | grep -qE '^#!.*(bash|sh)'; then
            shellcheck "$file"
          fi
        done

    shellcheck-scripts:
      tags: shell lint
      glob: "scripts/*.sh"
      run: shellcheck {staged_files}

# Skip hooks in CI/CD environments
skip_output:
  - meta
  - summary

chore: remove tmux from the setup
  .github/test/Brewfile.ci
  .github/test/validate.sh
  Brewfile
  CHEAT_SHEET.md
  CLAUDE.md
  README.md
  SHELL_FUNCTIONS.md
  atuin/.config/atuin/config.toml
  bin/.local/bin/claude-notify
  bin/.local/bin/tmux-sessionizer
  bin/.local/bin/update
  ghostty/.config/ghostty/config
  install.sh
  karabiner/src/layers/hyper.ts
  scripts/tmux-url-handler.sh
  tmux/.config/tmux/tmux-nerd-font-window-name.yml
  tmux/.config/tmux/tmux.conf
Due: shellcheck, shellcheck-scripts

fix(zsh): stop carapace shadowing native completers
  zsh/.zshrc
Due: none

fix(zsh): finish the carapace completion wiring
  bash/.bashrc
  zsh/.zshrc
Due: none

fix(shell): restore PATH order after path_helper
  .github/test/validate.sh
  Brewfile
  shell/.config/shell/path.sh
  zsh/.zprofile
Due: shellcheck

chore(ci): bump actions/checkout to v5
  .github/workflows/full-install.yml
  .github/workflows/test.yml
Due: none

feat(zsh): cache completions for tools without packaged ones
  bin/.local/bin/gen-completions
  bin/.local/bin/update
  install.sh
  zsh/.zshrc
Due: shellcheck

chore(brew): drop unused packages, sync Brewfile to machine
  Brewfile
  README.md
Due: none

fix(zsh): repair opencode completion, guard the fpath ordering
  .github/test/validate.sh
  bin/.local/bin/gen-completions
Due: shellcheck

docs(completions): clarify COMPLETE_ALIASES is off by default
  bin/.local/bin/gen-completions
Due: none

feat(brew): trust declared taps, install carapace extensions
  Brewfile
  scripts/check-brewfile.sh
Due: shellcheck, shellcheck-scripts

ci(test): install the real Brewfile on every push
  .github/test/Brewfile.ci
  .github/workflows/full-install.yml
  .github/workflows/test.yml
  Brewfile
  CLAUDE.md
  install.sh
  scripts/brewfile-taps.sh
  scripts/check-brewfile.sh
Due: shellcheck, shellcheck-scripts

chore(brew): drop the typewhisper tap
  Brewfile
Due: none

chore(brew): drop turso, declare the Wispr Flow CLI
  Brewfile
  shell/.config/shell/path.sh
Due: shellcheck

fix(brew): drop the terraform toolchain
  Brewfile
Due: none

docs: correct the theme claim, document completions
  README.md
  SHELL_FUNCTIONS.md
Due: none

fix(brew): stop declaring ww, it does not build
  Brewfile
Due: none

chore: remove the docker/php helper scripts and toolchain
  Brewfile
  bin/.local/bin/dphp
  bin/.local/bin/dphpunit
  bin/.local/bin/dprox
  scripts/macos-setup.sh
  shell/.config/shell/path.sh
Due: shellcheck, shellcheck-scripts

chore(bin): drop the git-workflow scripts
  bin/.local/bin/git-main
  bin/.local/bin/git-release
  bin/.local/bin/git-sync
  bin/.local/bin/git-tidy
Due: none

refactor(bin): fold freshbrew into update, drop ghd and reload
  SHELL_FUNCTIONS.md
  bin/.local/bin/freshbrew
  bin/.local/bin/ghd
  bin/.local/bin/reload
  bin/.local/bin/update
Due: none

chore(brew): drop imagemagick and the deps php was holding up
  Brewfile
Due: none

fix(zsh): give atuin ctrl-r in vicmd too
  .github/test/validate.sh
  SHELL_FUNCTIONS.md
  zsh/.zshrc
Due: shellcheck
