Repository alistairstead/dotfiles2: changes, and which lefthook commands are due for each by the changed paths.
All: shellcheck, shellcheck-scripts

lefthook.yml:

# Lefthook configuration for git hooks
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    shellcheck:
      tags: shell lint
      glob: "*.{sh,bash}"
      run: shellcheck {staged_files}
    
    shellcheck-bin:
      tags: shell lint
      files: git diff --name-only --cached
      run: |
        # Check files in bin directories for shell scripts
        for file in {staged_files}; do
          if [[ "$file" =~ ^bin/ ]] && head -1 "$file" | grep -qE '^#!.*(bash|sh)'; then
            shellcheck "$file"
          fi
        done

    shellcheck-scripts:
      tags: shell lint
      glob: "scripts/*.sh"
      run: shellcheck {staged_files}

# Skip hooks in CI/CD environments
skip_output:
  - meta
  - summary

chore(claude): jarvis-style base voice description
  claude/.claude/hooks/voxcpm-voices.json
Due: none

revert(claude): drop voxcpm, restore piper tts
  CLAUDE.md
  claude/.claude/hooks/README.md
  claude/.claude/hooks/launchd/com.alistairstead.claude-voxcpm.plist
  claude/.claude/hooks/notifications.test.ts
  claude/.claude/hooks/speak-notification.test.ts
  claude/.claude/hooks/speak-notification.ts
  claude/.claude/hooks/voxcpm-design-voices.py
  claude/.claude/hooks/voxcpm-server.py
  claude/.claude/hooks/voxcpm-voices.json
  install.sh
Due: shellcheck

chore(zed): move panels to left dock
  zed/.config/zed/settings.json
Due: none

chore(claude): refine env deny globs, advisor opus
  claude/.claude/settings.json
Due: none

chore(claude): sync settings, drop unmatched Write rules
  claude/.claude/settings.json
Due: none

chore(mise): stow config, pin bun 1.3.14
  mise/.config/mise/config.toml
Due: none

chore: ignore TTS mute flag
  .gitignore
Due: none

chore(git): regenerate lefthook hooks
  git/.config/git/hooks/pre-commit
  git/.config/git/hooks/prepare-commit-msg
Due: none

chore(brew): update casks and yabai source
  Brewfile
Due: none

chore(zed): dock panels right, agent left
  zed/.config/zed/settings.json
Due: none

fix(zed): repair configs and keybinding contexts
  zed/.config/zed/debug.json
  zed/.config/zed/keymap.json
  zed/.config/zed/settings.json
  zed/.config/zed/tasks.json
Due: none

fix(ci): drop stale nvim/atuin checks, quiet shellcheck
  .github/test/validate.sh
  .github/workflows/test.yml
  bash/.bashrc
  bin/.local/bin/obsidian
  install.sh
Due: shellcheck

chore(git): remove lefthook hooks and dependency
  .github/workflows/test.yml
  Brewfile
  CLAUDE.md
  git/.config/git/config
  git/.config/git/hooks/pre-commit
  git/.config/git/hooks/pre-push
  git/.config/git/hooks/prepare-commit-msg
Due: none

refactor(shell): build PATH once, in shell/path.sh
  bash/.bash_profile
  bash/.bashrc
  bash/.profile
  shell/.config/shell/aliases.sh
  shell/.config/shell/env.sh
  shell/.config/shell/functions.sh
  shell/.config/shell/path.sh
  zsh/.zprofile
  zsh/.zshenv
  zsh/.zshrc
Due: shellcheck

feat(install): derive stow packages from the repo
  .github/test/Brewfile.ci
  .github/test/validate.sh
  .github/workflows/test.yml
  .stowrc
  install.sh
  scripts/claude-speak-toggle
  scripts/stow-modules.sh
Due: shellcheck, shellcheck-scripts

chore: remove dead scripts, hooks and tracked build output
  .gitignore
  bin/.local/bin/claude-speak-toggle
  bin/.local/bin/gc
  bin/.local/bin/update
  claude/.claude/hooks/post-format.ts
  claude/.claude/hooks/speak
  raycast/.config/raycast/scripts/claude-speak-toggle.sh
Due: shellcheck

docs: correct stale references
  CLAUDE.md
  README.md
  SHELL_FUNCTIONS.md
Due: none

fix(zsh): guard plugin sourcing, cover plugins in CI
  .github/test/Brewfile.ci
  karabiner/src/layers/yabai.ts
  yabai/.config/yabai/yabairc
  zsh/.zshrc
Due: none

fix(ci): drop zsh-abbr from Brewfile.ci
  .github/test/Brewfile.ci
  yabai/.config/yabai/yabairc
Due: none

test(ci): verify install integrity and shell behaviour
  .github/test/validate.sh
  .github/workflows/test.yml
  install.sh
  scripts/check-collisions.sh
  scripts/stow-modules.sh
Due: shellcheck, shellcheck-scripts

fix(ci): restore repo files after adopt, keep tmux plugins out of the repo
  install.sh
  karabiner/bun.lock
  tmux/.config/tmux/tmux.conf
Due: shellcheck

fix(karabiner): typecheck cleanly
  .gitignore
  karabiner/src/utils.ts
  karabiner/tsconfig.json
Due: none

fix(zsh): reconcile abbreviations to the declared list
  .github/test/validate.sh
  scripts/check-collisions.sh
  zsh/.zshrc
Due: shellcheck, shellcheck-scripts

fix(zsh): use the abbr syntax that actually writes
  zsh/.zshrc
Due: none

test(ci): resolve Brewfile names and parse configs with their own tools
  .github/test/Brewfile.ci
  .github/test/validate.sh
  .github/workflows/test.yml
  scripts/check-brewfile.sh
Due: shellcheck, shellcheck-scripts

test(ci): add a weekly full-install workflow
  .github/workflows/full-install.yml
  install.sh
  scripts/macos-setup.sh
  shell/.config/shell/env.sh
Due: shellcheck, shellcheck-scripts

chore: drop Alacritty, add Ghostty to the url handler
  scripts/macos-setup.sh
  scripts/tmux-url-handler.sh
Due: shellcheck, shellcheck-scripts

feat(tmux): activate Zed Preview from the url handler
  scripts/tmux-url-handler.sh
Due: shellcheck, shellcheck-scripts

fix(ci): skip App Store installs in the full-install workflow
  .github/workflows/full-install.yml
Due: none

fix(ci): skip App Store apps by id, not name
  .github/workflows/full-install.yml
Due: none

fix(macos): drop the removed lsregister -kill call
  scripts/macos-setup.sh
Due: shellcheck, shellcheck-scripts

feat: add --dry-run to install.sh and macos-setup.sh
  install.sh
  scripts/macos-setup.sh
Due: shellcheck, shellcheck-scripts

fix(macos): stop overwriting the login window text
  scripts/macos-setup.sh
Due: shellcheck, shellcheck-scripts

feat(macos): ask for the lock screen message, borrow wizard helpers
  install.sh
  scripts/macos-setup.sh
Due: shellcheck, shellcheck-scripts

feat: add a first-run wizard for the human-only setup
  README.md
  install.sh
  scripts/first-run.sh
Due: shellcheck, shellcheck-scripts

fix(wizard): yabai does not require disabling SIP
  scripts/first-run.sh
Due: shellcheck, shellcheck-scripts

fix(wizard): drop the bogus App Store sign-in check
  scripts/first-run.sh
Due: shellcheck, shellcheck-scripts

feat(direnv): scope cloud context per project
  .github/workflows/test.yml
  Brewfile
  CLAUDE.md
  README.md
  SHELL_FUNCTIONS.md
  direnv/.config/direnv/direnvrc
  direnv/README.md
  granted/.config/granted/config
  scripts/first-run.sh
  shell/.config/shell/aliases.sh
  shell/.config/shell/env.sh
  starship/.config/starship.toml
  zsh/.zshrc
Due: shellcheck, shellcheck-scripts

feat(atuin): add config, ai permissions, claude hook
  atuin/.config/atuin/config.toml
  atuin/.config/atuin/permissions.ai.toml
  bash/.bashrc
  claude/.claude/settings.json
Due: none

fix(install): back up files that block stow
  .github/test/Brewfile.ci
  .github/test/validate.sh
  install.sh
  scripts/first-run.sh
Due: shellcheck, shellcheck-scripts
